{% extends "base.html" %}
{% load static %}
{% block content_loader %}
<div class="text-justify" style="margin-right: 10%;margin-left: 10%">

<p>This webapp was created with the goal of curbing the spread of misinformation regarding coronavirus.</p>
<p>It is primarily targeted towards regional language users in tier 3 cities and beyond. They need access to facts, but don't have a reliable source.</p>
<p>News reports, healthcare guidelines and research papers have a tendency to use language that is hard to interpret by inexperienced readers.</p>

Few points:

<ul>
<li>We share few facts, but share correct/verified facts. Currently, our only source of information is a translation of: <a target="_blank" href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses">the WHO Q&A on covid-19</a></li>
<li>We try our best to explain using simple terms, in a language that is easy to understand</li>
<li><b>Currently we are bootstrapping off google translate, but we need translators to work actively with us for a short duration.</b> If you are interested in volunteering, please email us at admin@tildehat.com</li>
<li>We try to minimize the footprint of the website, so it loads with a slow internet connection</li>



</ul>


Contributors:

<ul>
<li>Logo adapted from: <a href="https://pixabay.com/users/iximus-2352783/"> iximus</a></li>
<li>Web app dev: <a href="https://github.com/samiranrl"> https://github.com/samiranrl</a></li>

    </ul>


Important links:

<ul>
<li><a target="_blank" href="https://www.mohfw.gov.in/">Ministry of health and family welfare, Indian Govt.</a></li>
<li><a target="_blank" href="https://pib.gov.in/PressReleseDetailm.aspx?PRID=1608851">Donate to PM cares fund</a></li>


    </ul>


</div>
    <button class="btn btn-lg" onclick="history.go(-1)" style="margin-top: 5%">Go back to the homepage</button>
{% endblock content_loader %}
{% block js_loader %}
<script type="text/javascript">
// var answer_modal = new minimalModal("modal-id", "question", ["modal-close-overlay","modal-close-button"] )
</script>
{% endblock %}