{% extends "base.html" %}
{% load static %}
{% block content_loader %}
<div class="text-justify" style="margin-right: 10%;margin-left: 10%">
    <p>The goal is to convey the basics of coronavirus to most regional language users in small cities/villages of India. Literacy is not a barrier, as the app uses a text to speech interface to read the content aloud.  News reports, healthcare guidelines and research papers have a tendency to use language that is hard to interpret by inexperienced readers. A secondary goal is to curb the spread of misinformation and superstition regarding the virus.</p>
    A huge thank you to the translators who made this happen:
    <ul>
        <li><strong>Sanjay Kumar Rai</strong> for Hindi</li>
        <li><strong>Sweda Nair</strong> for Malayalam</li>
        <li><strong>Sanjay Tippanavar</strong> for Kannada</li>
        <li>And all the translators who wish to remain anonymous..</li>
    </ul>

    The philosophy:
    <ul>
        <li>We share few facts, but they are correct/verified facts. Currently, our only source of information is a translation of: <a target="_blank" href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses">the WHO Q&A on covid-19</a></li>
        <li>We try our best to explain using simple terms, in a language that is easy to understand</li>
        <li><b>Currently we are bootstrapping off google translate, but we need translators to work actively with us for a short duration(Not more than a couple of hours) for regional languages.</b> If you are interested in volunteering, please email us at admin@tildehat.com</li>
        <li>We try to minimize the footprint of the website, so it loads with a slow internet connection</li>
    </ul>
    Contributors:
    <ul>
        <li>Logo adapted from: <a href="https://pixabay.com/users/iximus-2352783/"> iximus</a></li>
        <li>Ideation/ web app dev: <a href="https://github.com/samiranrl"> https://github.com/samiranrl</a></li>
    </ul>
    Important links:
    <ul>
        <li><a target="_blank" href="https://www.mohfw.gov.in/">Ministry of health and family welfare, Indian Govt.</a></li>
        <li><a target="_blank" href="https://pib.gov.in/PressReleseDetailm.aspx?PRID=1608851">Donate to PM cares fund</a></li>
    </ul>
</div>
<button class="btn btn-lg" onclick="history.go(-1)" style="margin-top: 5%">Go back to the homepage</button>
{% endblock content_loader %}
{% block js_loader %}
<script type="text/javascript">
// var answer_modal = new minimalModal("modal-id", "question", ["modal-close-overlay","modal-close-button"] )
</script>
{% endblock %}
